.basketContainer{
    display: flex;
    margin: 50px;
    justify-content: space-between;
    width: 70%;
    background-color: #bfd0d2;
    border-radius: 10px;
}

.basket-form{
    padding: 40px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}
.form input, .form button{
    flex: 1;
    margin-top: 15px;
}
.prod{
    width: 250px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: #b3c8e7;
    text-align: center;
    margin: 50px;
    padding: 7px;
}
.prod img{
     width: 80%;
 }
.prodCount{
    display: flex;
}
.countCont{
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    margin: auto;

    .btn{
        padding: 3px 5px;
        font-size: 20px;
        min-width: 45px;
    }
}
